docs/samples/test-jdbc-object-store.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:jdbc-object-store="http://www.mulesoft.org/schema/mule/jdbc-object-store" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/jdbc-object-store http://www.mulesoft.org/schema/mule/jdbc-object-store/current/mule-jdbc-object-store.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="d42b8fa6-9619-429e-b53b-fa4af8e5e5f6" files="beans.xml" />
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="7fd57fcd-65e4-486c-b9f5-cbbf6a0d6a20" >
		<jdbc-object-store:jdbc-connection dataSource="OracleDataSource" objectStorePartition="Test JDBC Object Store Partition" objectStoreTableName="objectstore" tableKeyFieldName="okey" tableValueFieldName="ovalue" tablePartitionFieldName="opartition" />
	</os:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78654a6f-fe34-468c-bcec-22107c0f2c18" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="cf147b74-8b63-4fad-98c6-0dc3956ff1a4" config-ref="ObjectStore_Config" />
	<flow name="Store-Object-Flow" doc:id="a427fc83-e0cd-4870-b01f-66412de8fe5b" >
		<http:listener doc:name="Listener" doc:id="a87f607e-0701-41bf-b8ba-68d0756791dc" config-ref="HTTP_Listener_config" path="/os/store"/>
		<set-variable value="#[attributes.queryParams.key]" doc:name="Set Variable" doc:id="21595fd7-cb6a-4ace-9fe6-ca677ee64260" variableName="key"/>
		<ee:transform doc:name="Transform Message" doc:id="e51a7b42-dadf-4099-b778-957c346a4251" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="Store" doc:id="79c5cb52-764b-4c20-9992-3042862682a2" key="#[vars.key]" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="0f3d299b-b5b1-4fe6-827e-7d90afdee5c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Key: " ++ vars.key ++ " stored."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Retrieve-Object-Flow" doc:id="f86ffd45-b30b-4641-808c-d3f10327965e" >
		<http:listener doc:name="Listener" doc:id="7a8e4075-1b2e-427c-8ffd-b7c7df026bb5" config-ref="HTTP_Listener_config" path="/os/retrieve"/>
		<set-variable value="#[attributes.queryParams.key]" doc:name="Set Variable" doc:id="5f0201c1-c9ec-4475-906d-9b3e472f5c11" variableName="key"/>
		<os:retrieve doc:name="Retrieve" doc:id="0354c226-7c6d-4795-a9b9-13a686a879d9" key="#[vars.key]" objectStore="Object_store">
			<os:default-value ><![CDATA[#["Object with key: " ++ vars.key ++ " not found."]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Transform Message" doc:id="8e780c1d-caa3-431c-ada4-0107c5eb8cfb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	object: {
		key: vars.key,
		value: payload
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Remove-Object-Flow" doc:id="4177c459-90c1-454e-b420-479f09ec7d92" >
		<http:listener doc:name="Listener" doc:id="5c5aedcd-6eae-4173-88d5-7abab291426d" config-ref="HTTP_Listener_config" path="/os/remove"/>
		<set-variable value="#[attributes.queryParams.key]" doc:name="Set Variable" doc:id="be2e63df-829c-4f75-9884-a2fb0cf9ae9e" variableName="key"/>
		<os:remove doc:name="Remove" doc:id="b4898bce-04b0-4f2c-ba0e-e09a851b9550" key="#[vars.key]" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="8ea6d6fe-487e-403d-ae0e-2972ca8092ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "key: " ++ vars.key ++ " removed."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clear-All-Objects-Flow" doc:id="7f86020f-100f-4951-a288-752bbbdea6df" >
		<http:listener doc:name="Listener" doc:id="5b28c363-29cf-4051-99cd-fc1318f56126" config-ref="HTTP_Listener_config" path="/os/clear"/>
		<os:clear doc:name="Clear" doc:id="17c439dc-b3d8-46ed-9e4f-9efecd13d688" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="e5e69d43-bc22-4d22-9237-fc52c6d2efee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Object Store Cleared"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
